<div class="footer">
    <p>Copyright © 2019 Dipassio S.L.

        Términos y Condiciones
        
        Política de Privacidad
        
        Uso de Datos
        
        Dipassio S.L. es una compañia registrada en España Spain (Cif. B-85622553) Inscrita en el Registro Mercantil de Madrid Asiento 1/2920/527 Folio 76</p>
</div>

<div class="footer">
    <div class="row">
        <div class="pull-left col-md-6 col-xs-6">
            <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="300"
                data-href="http://gdg-x.github.io"></div>
        </div>
        <div class="logo"></div>
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-6">
            <h5>Links</h5>
            <ul>
                <li><a href=" http://gdg.org.ua " target="_blank">GDG.org.ua</a></li>
                <li><a href=" https://developers.google.com " target="_blank">Google Developers</a></li>
            </ul>
        </div>
        <div class="col-md-4 col-xs-6">
            <h5>Contacts</h5>
            <ul>
                <li><a href=" mailto:lviv@gdg.org.ua " target="_blank">lviv@gdg.org.ua</a></li>
            </ul>
        </div>
        <div class="col-md-4 col-xs-6">
            <h5>FAQ</h5>
            <ul>
                <li><a href=" /zeppelin/cod/ ">Code of Conduct</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <ul class="social-links">
                <li> <a href=" https://plus.google.com/b/102444623953913144164 " target="_blank"> <svg
                            class="icon icon-google-plus" viewBox="0 0 30 32">
                            <use xlink:href="/zeppelin/img/sprites/sprites.svg#icon-google-plus"></use>
                        </svg> </a> </li>
                <li> <a href=" https://twitter.com/intent/user?screen_name=GDGLviv " target="_blank"> <svg
                            class="icon icon-twitter" viewBox="0 0 30 32">
                            <use xlink:href="/zeppelin/img/sprites/sprites.svg#icon-twitter"></use>
                        </svg> </a> </li>
                <li> <a href=" https://facebook.com/GDGLviv " target="_blank"> <svg class="icon icon-facebook"
                            viewBox="0 0 30 32">
                            <use xlink:href="/zeppelin/img/sprites/sprites.svg#icon-facebook"></use>
                        </svg> </a> </li>
                <li> <a href=" /zeppelin/feed.xml " target="_blank"> <svg class="icon icon-rss" viewBox="0 0 30 32">
                            <use xlink:href="/zeppelin/img/sprites/sprites.svg#icon-rss"></use>
                        </svg> </a> </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <!-- Please don't delete this line-->
        <div class="col-md-6">
            <p class="copyright"> &copy; 2019 Based on <a href="https://github.com/trasgoverde/bleed"
                    target="_blank">Project Bleed</a>. Designed and Created by <a
                    href="https://twitter/iodipass" target="_blank">Ignacio Souto</a> &middot; <a
                    href="http://dipass.io" target="_blank">Dipassio SL</a> </p>
        </div>
    </div>
</footer> <!-- End Footer -->

</div>