<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Welcome, Java Hipster!</h1>
        <p class="lead">This is your homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                   > You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>If you want to </span>
                <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="account/register">Register a new account</a>
            </div>
            <p>
        </div>
        <div class="row"></div>
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            <h1 class="display-4">Welcome, Dipassio!</h1>
            <p class="lead">Conformamos una verdadera Factoría Digital, especializada en la definición y construcción de estrategias innovadoras y negocios digitales at ravés de nuestros servicios de Marketing y Transformación digital en todas sus ramas. Ayudamos a nuestros clientes a hacer crecer en sus negocios actuales ya explorar nuevos modelos de negocio aprovechando las oportunidades que ofrecen las herramientas digitales y nuevas tecnologías: diseñar, crear, relacionar y operar productos-servicios, experiencias de clientes y negocios. Tenemos un equipo multidisciplinario con perfiles y experiencias muy diversas, formada por emprendedores exitosos, consultores estratégicos de negocios, comunicadores, desarrolladores y técnicos del ambiente digital.

                Posicionamiento SEO, Posicionamiento SEO por palabras, Consultoría SEO, SEO reputacional, Pago por click, Campaña Google Adwords, Consultoría Google Adwords, Ads Facebook, Instagram & Twitter, Redes Sociales,	Plan Corporativo, Plan eCommerce, Plan de Marketing, Redes Sociales iniciación, Sitio web & Tienda online, Blogs, Web & Blog, eCommerce, Web + CRM, Marketing de Contenidos, Blogging, Notas de prensa, Introducción sitios especializados, Servidores, Dominios,	Alojamiento web, Servicios Cloud, Certificados SSL.</p>
    
            </div>
        </p>

        <p>
            If you have any question on JHipster:
        </p>

        <ul>
            <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer">JHipster homepage</a></li>
            <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener noreferrer">JHipster on Stack Overflow</a></li>
            <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener noreferrer">JHipster bug tracker</a></li>
            <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer">JHipster public chat room</a></li>
            <li><a href="https://twitter.com/java_hipster" target="_blank" rel="noopener noreferrer">follow @java_hipster on Twitter</a></li>
        </ul>

        <p>
            <span>If you like JHipster, don't forget to give us a star on</span> <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer">GitHub</a>!
        </p>
    </div>
</div>
