<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Welcome, Java Hipster!</h1>
        <p class="lead">This is your homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                   > You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>If you want to </span>
                <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="account/register">Register a new account</a>
            </div>
        </div>

        <p>
            If you have any question on JHipster:
        </p>

        <ul>
            <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer">JHipster homepage</a></li>
            <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener noreferrer">JHipster on Stack Overflow</a></li>
            <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener noreferrer">JHipster bug tracker</a></li>
            <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer">JHipster public chat room</a></li>
            <li><a href="https://twitter.com/java_hipster" target="_blank" rel="noopener noreferrer">follow @java_hipster on Twitter</a></li>
        </ul>

        <p>
            <span>If you like JHipster, don't forget to give us a star on</span> <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer">GitHub</a>!
        </p>
    </div>
</div>
<div>
<!-- Begin Tickets Section -->
<section id="tickets" class="tickets">
    <div class="content-wrapper">
        <div class="ccol-md-3">
            <h3>Pricetable</h3>
            <div class="col-md-4 col-sm-4 pricing-col animated hiding" data-animation="fadeInLeft" data-delay="500">
                <div class="pricing-ribbon">-5%</div>
                <div class="pricing-header">
                    <p class="title">Early Bird</p>
                    <p class="price">350 <span class="currency">EUR</span></p>
                </div>
                <div class="pricing-content">
                    <ul>
                        <li>Lorem ipsum is simply</li>
                        <li>Dummy text of the printing</li>
                        <li>Typesetting industry</li>
                    </ul> <a class="button" href="http://dfua.ticketforevent.com/" target="_blank">Buy Now</a>
                </div>
            </div>
            <div class="ccol-md-3" data-animation="fadeInDown"
                data-delay="0">
                <div class="pricing-ribbon">-20%</div>
                <div class="pricing-header">
                    <p class="title">Last Chance</p>
                    <p class="price">450 <span class="currency">EUR</span></p>
                </div>
                <div class="pricing-content">
                    <ul>
                        <li>Lorem ipsum is simply</li>
                        <li>Dummy text of the printing</li>
                        <li>Typesetting industry</li>
                    </ul> <span class="button disabled fallback">Sales will begin on 1 October 2019 00:00</span>
                </div>
            </div>
            <div class="col-md-3" data-animation="fadeInRight" data-delay="500">
                <div class="pricing-header">
                    <p class="title">Student</p>
                    <p class="price">200 <span class="currency">EUR</span></p>
                </div>
                <div class="pricing-content">
                    <ul>
                        <li>Lorem ipsum is simply</li>
                        <li>Dummy text of the printing</li>
                        <li>Typesetting industry</li>
                    </ul> <span class="button disabled">Sold Out</span>
                </div>
            </div>
        </div>
    </div>
</section> <!-- End Tickets Section -->
<!-- Begin Tickets 2 Section -->
<section id="tickets" class="tickets-2">
    <div class="content-wrapper">
        <div class="ccol-md-3">
            <h3>Pricetable</h3>
            <div class="tickets-table row animated hiding" data-animation="fadeInDown" data-delay="0">
                <div class="tickets-row animated hiding" data-animation="fadeInDown" data-delay="0">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <p class="title">Early Bird</p> <span class="ticket-additional-info">Before 30 September
                                2014 23:59 or 150 tickets</span>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <p class="price">350 UAH</p>
                        </div>
                        <div class="col-sm-3 col-xs-12"> <span class="bordered dark-border button"> <a
                                    href="http://dfua.ticketforevent.com/" class="waves-effect waves-button"
                                    target="_blank">Buy Now</a> </span> </div>
                    </div>
                </div>
                <div class="tickets-row animated hiding" data-animation="fadeInDown" data-delay="250">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <p class="title">Last Chance</p>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <p class="price">450 EUR</p>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <p class="ticket-fallback">Ticket sales will begin on 1 October 2014 00:00</p>
                        </div>
                    </div>
                </div>
                <div class="tickets-row animated hiding" data-animation="fadeInDown" data-delay="500">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <p class="title">Student</p> <span class="ticket-additional-info">Requires a valid student
                                ID at the conference check in. Without student ID at the check in, ticket will be
                                cancelled without refund</span> <span class="ticket-additional-info">Before 23 October
                                2014 23:59 or 50 tickets</span>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <p class="price">200 UAH</p>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <p class="ticket-sold-out">Sold Out</p>
                        </div>
                    </div>
                </div>
            </div> <span class="tickets-info">Tickets grant access to all conference sections, coffee brakes, lunch and
                party. Accommodation is NOT included in the ticket price.</span>
        </div>
    </div>
</section> <!-- End Tickets 2 Section -->


</div>
